:root {
    --pico-font-size: 100%; 
}
code[class*="language-"] {
    padding:0em; 
    /* padding-left: 1em; */
    background: #13171f !important;
    
}
:not(pre) > code[class*="language-"], 
pre[class*="language-"] {
    background: #13171f !important;
    font-size: 0.9em;
}
