@charset "UTF-8";:root {
    --pico-line-height: 1.5;
}
:root {
    /* --pico-font-size: 100%;  */
    /* --pico-background-color: #000; */
    --pico-transition: .2s ease-in-out;
    --pico-header-background: rgba(19, 23, 31, .8);
    line-height: var(--pico-line-height);
    --pico-line-height: 1.5;
}
/* :where(:root) {
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    background-color: var(--pico-background-color);
    color: var(--pico-color);
    font-weight: var(--pico-font-weight);
    font-size: var(--pico-font-size);
    line-height: var(--pico-line-height);
    font-family: var(--pico-font-family);
    text-underline-offset: var(--pico-text-underline-offset);
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
} */
body>header .container {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
}
body>header.top_header {
    z-index: 2;
    position: sticky;
    top: 0;
    padding: 0.65rem 0;
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--pico-header-background);
}
body>header.top_header > div > a {
    text-decoration: none;
}
body > header > div > a > h1 {
    margin: 0;
}
pre {
    margin-bottom: 16px !important;
    margin-top: 16px !important;
}
.line-numbers .line-numbers-rows {
    border-right: 0;
    /* left: -3.5em; */
    /*TODO: remove background differences; 
    make numbering and menus 'seamless' w. bg, 
    only code stands out between thin low-contrast borders */ 
}
code[class*="language-"] {
    padding:0em; 
    padding-left: 1em;
    background: #13171f !important;
}
:not(pre) > code[class*="language-"], 
pre[class*="prismjs"] {
    background: #181c25 !important;
    /* background: #000000 !important; */
    font-size: 0.9em;
}

/* Version picker colors style */
article.color-picker > header {
    grid-gap:0.1rem;
    grid-template-columns: repeat(20,1fr);
    padding: 0;
}
/* article.color-picker > header > div {
    border-radius: 0.24em;
} */
div.color-pick {
    text-align: center;
    color: #13171f;
    border-radius: 0.24em;
}

/* Titles anchor - taken from Pico CSS own website */
:is(h1,h2,h3,h4,h5,h6) > a[id] {
    padding-left: calc(var(--pico-spacing)* .5);
    font-weight: 400;
    text-decoration: none;
    opacity: 0;
}
:hover:is(h1,h2,h3,h4,h5,h6) > a[id] {
    transition: color var(--pico-transition) opacity var(--pico-transition);
    opacity: 1;
}






/* ↓ Archives ↓ */

/* article {
    margin-bottom: var(--pico-block-spacing-vertical);
    padding: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
    border-radius: var(--pico-border-radius);
    background: var(--pico-card-background-color);
    box-shadow: var(--pico-card-box-shadow)
} */
/* * {
    --pico-color: #F85B1A;
} */
/* @media (min-width: 1024px) {
    :is(h1,h2,h3,h4,h5,h6)>a[id] {
        position: absolute;
        left: 0;
        padding-right: calc(var(--pico-spacing)* .5);
        transform: translate(-100%);
    }
} */
