:root {
    --pico-card-component-outline-color: var(--pico-card-background-color);
    --pico-card-component-outline-width: 2px;
}

section>h1,section>h2,section>h3,section>h4,section>h5,section>h6 {
    color: var(--pico-primary-hover);
}

#content > section:nth-child(1) {
    margin-top: calc(var(--pico-spacing)* 7);
}
main>[role=document] section {
    margin-top: calc(var(--pico-spacing)* 12);
}
main>[role=document] section>section {
    margin-top: calc(var(--pico-spacing)* 7);
}
main>[role=document] section>section>section {
    margin-top: calc(var(--pico-spacing)* 3);
}
.chapter {
    color: var(--pico-chapter-color);
    font-weight: 600;
    /* font-size: 13px; */
    letter-spacing: .0625em;
    text-transform: uppercase;
}



/* #content > section > section > h3 {
    margin-bottom: 0.5rem!important;
} */
#content > section > section > h3 + p {
    --pico-color: var(--pico-muted-color);
    margin-top: -0.5rem!important;
    margin-bottom: 3rem!important;
  }

/* Titles anchor - taken from Pico CSS own website */
:is(h1,h2,h3,h4,h5,h6) > a[id] {
    padding-left: calc(var(--pico-spacing)* .5);
    font-weight: 400;
    text-decoration: none;
    opacity: 0;
}
:hover:is(h1,h2,h3,h4,h5,h6) > a[id] {
    transition: color var(--pico-transition) opacity var(--pico-transition);
    opacity: 1;
}

/* HighlightJS integration */
pre {
    margin: 0;
}
p > code {
    background-color: var(--pico-code-background-color) !important;
    padding: .375rem;
}
#content > section > section > section > p > code.highlight.language-html.hljs.language-xml {
    background-color: var(--pico-code-background-color) !important;
    padding: .375rem !important;
}
/* div.pre-code {
    margin-bottom: 1rem;
} */
pre > code {
    background-color: rgba(0,0,0,0) !important;
    padding: calc(var(--pico-block-spacing-vertical)*0.5) var(--pico-block-spacing-horizontal) !important;
    margin-bottom: -1.25rem !important;
}
#content > section > section > section > p > button.hljs-copy-button {
    display: none !important;
}
#content > section > section > section > div > pre > button.hljs-copy-button {
    font-size: 16px !important;
    font-family: var(--pico-font-family-monospace) !important;
}
p.fh-cue {
    --pico-color: var(--pico-muted-color) !important;
}


/* 3_3_1 */
article {
    /* background: var(--pico-background-color) !important; */
    background: var(--pico-card-background-color) !important;
}
article.component {
    outline-color: var(--pico-card-component-outline-color);
    outline-style: solid;
    outline-width: var(--pico-card-component-outline-width);
    /* background-color: transparent; */
}
article > div.grid > div {
    padding: calc(var(--pico-spacing) / 2) 0;
    border-radius: var(--pico-border-radius);
    background-color: var(--pico-code-background-color);
    color: var(--pico-muted-color);
    font-size: .875rem;
    text-align: center;
}
/* article > footer > div.pre-code {
    background: var(--pico-background-color) !important;
} */
dialog.example {
    z-index: inherit;
    position: relative;
    min-height: inherit;
    margin: 0 calc(var(--pico-spacing)* -1) var(--pico-block-spacing-vertical) calc(var(--pico-spacing)* -1);
    inset: inherit;
}


