main>[role=document] section {
    margin-top: calc(var(--pico-spacing)* 3);
}
#content > section:nth-child(1) {
    margin-top: calc(var(--pico-spacing)* 6);
}
/* #content > section > section > h3 {
    margin-bottom: 0.5rem!important;
} */
#content > section > section > h3 + p {
    --pico-color: var(--pico-muted-color);
    margin-top: -0.5rem!important;
  }

/* Titles anchor - taken from Pico CSS own website */
:is(h1,h2,h3,h4,h5,h6) > a[id] {
    padding-left: calc(var(--pico-spacing)* .5);
    font-weight: 400;
    text-decoration: none;
    opacity: 0;
}
:hover:is(h1,h2,h3,h4,h5,h6) > a[id] {
    transition: color var(--pico-transition) opacity var(--pico-transition);
    opacity: 1;
}

/* HighlightJS integration */
pre {
    margin: 0;
}
p > code {
    background-color: var(--pico-code-background-color) !important;
    padding: .375rem;
}
#content > section > section > section > p > code.highlight.language-html.hljs.language-xml {
    background-color: var(--pico-code-background-color) !important;
    padding: .375rem !important;
}
div.pre-code {
    /* background-color: rgba(0,0,0,0) !important; */
    margin-bottom: 1rem;
}
pre > code {
    background-color: rgba(0,0,0,0) !important;
    padding: calc(var(--pico-block-spacing-vertical)*0.5) var(--pico-block-spacing-horizontal) !important;
    margin-bottom: -1.25rem !important;
}
#content > section > section > section > p > button.hljs-copy-button {
    display: none !important;
}
#content > section > section > section > div > pre > button.hljs-copy-button {
    font-size: 16px !important;
    font-family: var(--pico-font-family-monospace) !important;
}
p.fh-cue {
    --pico-color: var(--pico-muted-color) !important;
}
