html {
    content: "";
  }
  
  @media (prefers-color-scheme: light) {
    html {
      content: "light";
    }
  }
  
  @media (prefers-color-scheme: dark) {
    html {
      content: "dark";
    }
  }

:root:not([data-theme]) {
    --fhlpc-code-bg: #0e1118;
    color-scheme: dark;
}

:root:not([data-theme=dark]),[data-theme=light] {
    --fhlpc-code-bg: #eee;
    color-scheme: light;
}

@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) {
        --fhlpc-code-bg: #0e1118;
        color-scheme: dark;
    }
}

[data-theme=light] {
    --fhlpc-code-bg: #fafafa;
    --fhlpc-shadow: rgba(255, 255, 255, 0.75);
    --pico-header-background: rgba(255, 255, 255, .8);
}

[data-theme=dark] {
    --fhlpc-code-bg: #0e1118;
    --fhlpc-shadow: rgba(19, 23, 31, 0.75);
    --pico-header-background: rgb(19 23 31 / 90%);
}





/* TOP HEADER */

body>header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body>header.top-header {
    z-index: 2147483648;
    /* z-index: 2; */
    position: sticky;
    top: 0;
    padding: 0.65rem 0;
    border-bottom: 1px solid var(--fhlpc-shadow);
    -webkit-backdrop-filter: blur(1rem);
    backdrop-filter: blur(1rem);
    background-color: var(--pico-header-background);
    text-shadow: 1px 1px 1px var(--fhlpc-shadow);
    box-shadow: var(--pico-card-box-shadow)
    /* text-shadow: offset-x offset-y blur-radius color */
}
body>header.top-header > div > a {
    text-decoration: none;
}
body > header.top-header > div > a > h1 {
    margin: 0;
    /* text-shadow: 0.5rem 1rem 6rem rgba(129, 145, 181, 0.56); */
    text-shadow: 0px 0px 1rem var(--fhlpc-shadow);
}






/* HGROUP, HEADINGS, HEADERS */

section>h1,
section>h2,
section>h3,
section>h4,
section>h5,
section>h6 {
    color: var(--pico-primary-hover);
}

#content > section:nth-child(1) {
    margin-top: calc(var(--pico-spacing)* 7);
}
main>[role=document] section {
    margin-top: calc(var(--pico-spacing)* 12);
}
main>[role=document] section>section {
    margin-top: calc(var(--pico-spacing)* 7);
}
main>[role=document] section>section>section {
    margin-top: calc(var(--pico-spacing)* 3);
}
/* Titles anchor - taken from Pico CSS own website */
:is(h1,h2,h3,h4,h5,h6) > a[id] {
    padding-left: calc(var(--pico-spacing)* .5);
    font-weight: 400;
    text-decoration: none;
    opacity: 0;
}
:hover:is(h1,h2,h3,h4,h5,h6) > a[id] {
    transition: color var(--pico-transition) opacity var(--pico-transition);
    opacity: 1;
}




/* MISC */

/* Put modals "in-page" rather than as a typical overlay. */
dialog.example {
    z-index: inherit;
    position: relative;
    min-height: inherit;
    margin: 0 calc(var(--pico-spacing)* -1) var(--pico-block-spacing-vertical) calc(var(--pico-spacing)* -1);
    inset: inherit;
}

/* Grid example */
article > div.grid > div {
    padding: calc(var(--pico-spacing) / 2) 0;
    border-radius: var(--pico-border-radius);
    border: var(--pico-border-width) solid #0e1118;
    background-color: var(--pico-code-background-color);
    /* color: var(); */
    color: var(--pico-primary);
    font-size: .875rem;
    text-align: center;
}

/* Restore Pico CSS for inline code */
p code.inline-code.hljs {
    padding: .25rem !important;
    background-color: var(--fhlpc-code-bg) !important;
}
/* Remove copy button from inline code */
#content p > button.hljs-copy-button {
    display: none;
}




/* CODE STYLE & HIGHLIGHTING */
code, kbd {
    display: inline-block;
    padding: .25rem;
}

div.code pre {
    border: 2px solid var(--pico-border-color) !important;
    background-color: transparent !important;
}

div.code > pre > code.highlight.hljs {
    background-color: var(--fhlpc-code-bg) !important;
    padding: 1rem 0rem !important;
    /* border: var(--pico-border-width) solid var(--pico-table-border-color) !important; */
}

div.code {
    background-color: transparent;
    /* margin-bottom: 0; */
}

/* p code.hljs {
    background-color: rgba(0,0,0,0) !important;
    background-color: var(--pico-code-background-color) !important;
    padding: 0 !important;
} */
/* border: none !important; */

.hljs-ln {
    margin: 0 !important;
}

.hljs-ln-line {
    /* background-color: rgba(0,0,0,0) !important; */
    border: none;
}

/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: var(--pico-muted-color);
    border-right: var(--pico-border-width) solid var(--pico-table-border-color);
    vertical-align: middle;
    padding: 0.08rem 1rem 0.08rem 1rem !important;
    background-color: transparent;
    /* background-color: rgba(0,0,0,0) !important; */
    /* padding: 0 20px 0 20px; */
    /* top right bottom left */
    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    vertical-align: middle;
    padding: 0.08rem 1rem 0.08rem 1rem !important;
    background-color: transparent;
    /* padding-left: 20px !important; */
    /* background-color: rgba(0,0,0,0) !important; */
}

/* Padding for 1-liner (NOT line-numbered code blocks) */
div.code > pre > code > span {
    padding: 0.08rem 1rem 0.08rem 1rem !important;
}